{% extends 'events/base.html' %}

{% block content %}
<center>
    <h1>Venues</h1>
    <table class="table table-striped table-hover table-bordered">
        {% for venue in list_venue %}
            <tr>
                <td>
                    <a href="{% url 'show_venue' venue.id %}">{{ venue }}</a> <br>
                </td>
                <td align="right">
                    <a href="{% url 'update_venue' venue.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>

</center>
{% endblock %}
